.main {
  width: 100%;
  padding: 0 140px;
  box-sizing: border-box;

  @media screen and (max-width: 1280px) {
    padding: 0 100px;
  }

  @media screen and (max-width: 760px) {
    padding: 0 60px;
  }

  @media screen and (max-width: 550px) {
    padding: 0 16px;
  }
}
