.header {
  width: 100%;
  padding: 40px 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1280px) {
    padding: 40px 100px;
  }

  &__logo {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 16px;
    align-items: center;
  }

  &__menu-link {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }

    &_active {
      border-bottom: 1px solid #fff;
    }
  }

  &__exit-btn {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #ff4747;
    transition: opacity 0.2s;

    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}
